{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<main class"container">
    <section class="row">
        <div class="col-12">
            <p>Acceuil</p>
        </div>
    </section>
</main>            
{% endblock %}
