% extends 'base.html.twig' %}

{% block title %}Hello EntraineurController!{% endblock %}

{% block body %}
   <div classs="container">
      <div class="row row-cols-2">
         <div class="col-md-4"></div>
     {{form(form)}}</div>
    </div>
{% endblock %}
