{% extends 'base.html.twig' %}

{% block body %}
    <h1>Calendar</h1>
    <table>
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
        </thead>
        <tbody>
            {% for week in weeks %}
                <tr>
                    {% for day in week.days %}
                        <td>
                            <strong>{{ day.date|date('j') }}</strong>
                            {% for planning in day.plannings %}
                                <div>{{ planning.horairedebut }} - {{ planning.horairefin }}</div>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}